.footer {
  position: relative;
  height: 50vh;
  overflow-x: hidden;
  .container {
    padding: 0 1em;
    position: relative;
    z-index: 2;
    .wrapper {
      margin-top: 4em;
      display: flex;
      justify-content: space-between;

      .footer-info {
        width: 40%;
        color: $darker-light-color;
        font-size: 18px;
        line-height: 26px;

        i {
          font-size: 24px;
          color: $main-color;
          margin-right: 0.5em;
        }
      }

      .footer-menu {
        width: 40%;
        display: flex;
        justify-content: space-between;
        list-style: none;
        font-size: 18px;

        .menu-item {
          text-decoration: none;
          color: $darker-light-color;
          transition: $transition;
          line-height: 26px;

          &:hover {
            color: $lighter-dark-color;
          }
        }
      }
    }
  }
  .logo-bg {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    // z-index: -1;

    i {
      font-size: 900px;
      color: $section-color;
    }
  }
}

@media (max-width: 920px) {
  .footer {
    .container {
      .wrapper {
        .footer-menu {
          justify-content: space-around;
          width: 60%;
        }
      }
    }
  }
}

@media (max-width: 830px) {
  .footer {
    .container {
      .wrapper {
        flex-direction: column;
        align-items: center;
        height: 100px;

        .footer-info {
          width: 100%;
          text-align: center;
        }

        .footer-menu {
          justify-content: space-around;
          width: 60%;
        }
      }
    }
  }
}

@media (max-width: 625px) {
  .footer {
    .container {
      .wrapper {
        height: 300px;

        .footer-menu {
          height: 200px;
          flex-direction: column;
          align-items: center;
        }
      }
    }
  }
}
