.services {
	background: $section-color;
	.wrapper {
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;

		.service-box {
			margin-bottom: 5em;
			width: 50%;
			display: flex;
			justify-content: space-around;

			.service-icon {
				display: flex;
				justify-content: center;
				align-items: center;
				width: 100px;
				height: 100px;
				border-radius: 50%;
				background: $lightest-color;

				i {
					font-size: 34px;
					color: $main-color;
				}
			}

			.service-info {
				width: 75%;
				height: 200px;
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				color: $lighter-dark-color;

				.service-title {
					font-size: 44px;
					font-weight: 300;
				}

				.service-text {
					line-height: 2;
				}
			}
		}
	}
}

@media (max-width: 1000px) {
	.services {
		.wrapper {
			.service-box {
				.service-icon {
					width: 80px;
					height: 80px;

					i {
						font-size: 30px;
					}
				}
			}
		}
	}
}

@media (max-width: 800px) {
	.services {
		.wrapper {
			.service-box {
				.service-icon {
					width: 75px;
					height: 75px;

					i {
						font-size: 28px;
					}
				}
			}
		}
	}
}

@media (max-width: 750px) {
	.services {
		.wrapper {
			.service-box {
				width: 90%;
			}
		}
	}
}

@media (max-width: 450px) {
	.services {
		.wrapper {
			.service-box {
				margin-bottom: 6em;
				flex-direction: column;
				align-items: center;
				text-align: center;

				.service-info {
					width: 75%;
					height: 200px;
					display: flex;
					flex-direction: column;
					justify-content: space-between;
					color: $lighter-dark-color;

					.service-title {
						margin: 0.3em 0;
						font-size: 34px;
					}
				}
			}
		}
	}
}

@media (max-width: 320px) {
	.services {
		.wrapper {
			.service-box {
				margin-bottom: 8em;
				.service-info {
					.service-title {
						font-size: 30px;
					}

					.service-text {
						font-size: 14px;
					}
				}
			}
		}
	}
}
