$main-font: 'Open Sans', sans-serif;
$light-color: rgb(223, 230, 233);
$light-color-alfa: rgba(223, 230, 233, 0.4);
$darker-light-color: #b2bec3;
$lighter-dark-color: #636e72;
$section-color: #f9f9fa;
$dark-color: #2d3436;
$darkest-color: black;
$lightest-color: white;
$main-color: #0984e3;
$main-color-alfa: rgba(9, 132, 227, 0.5);
$transition: all 0.3s;

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	scroll-behavior: smooth;
}

body {
	font-family: $main-font;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
}

.section {
	padding: 5em 1em;
}

.section-title {
	position: relative;
	margin-bottom: 1em;
	text-align: center;
	font-size: 46px;
	font-weight: 300;
	color: $lighter-dark-color;

	&::after {
		content: '';
		position: absolute;
		left: 50%;
		bottom: -10px;
		transform: translateX(-50%);
		width: 50px;
		height: 1px;
		background: $main-color;
	}
}

.section-subtitle {
	padding: 0 1em;
	margin-bottom: 7em;
	color: $lighter-dark-color;
	text-align: center;
}

.btn {
	padding: 1em 3em;
	width: 190px;
	font-size: 16px;
	color: $light-color;
	border: 3px solid $light-color;
	border-radius: 28px;
	background: transparent;
	transition: $transition;
	cursor: pointer;

	&:hover {
		box-shadow: 0 0 15px $light-color;
		background: $main-color-alfa;
		border-radius: 10px;
	}
}

@import 'nav';
@import 'header';
@import 'about';
@import 'works';
@import 'founder';
@import 'services';
@import 'team';
